/*
========================================================================================
    nanoflowz/nextflow.config
========================================================================================
*/

def myHome = System.getProperty("user.home")

params {
    // Pipeline Inputs
    tsv            = null

    // The master directory for this specific run
    rundir         = './run_01'
    
    // final outputs
    outdir         = "${params.rundir}/results"

    //nextflow working directory with intermediate files
    workdir_param        = "${params.rundir}/work"

    // path where to store installed conda environments
    conda_envs_dir = "${params.rundir}/conda_envs"
    
    // Tool Paths & References
    dorado         = "${myHome}/dorado-1.4.0-linux-x64/bin/dorado"
    model          = "${myHome}/nanoflowz/dna_r10.4.1_e8.2_400bps_sup@v5.2.0"
    polyA          = "${myHome}/materials/polya_config.toml"
    ref            = "Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    reference_gtf  = "gencode.v42.annotation.gtf"

    // Set to false to skip when uncharacterised scaffolds are expected to be absent from the GTF
    check_gtf_compatibility = false

    // Visualization
    num_reads      = 10  
    figwidth       = 15.0  
    figheight      = 3.2
    emit_circles   = false

    // Strand Orientation Tagging (cDNA protocols)
    tag_basecaller_ts = "TS" // this is expected to be the tag added by the Dorado basecaller to indicate read orientation relative to originating mRNA
    tag_original_ts   = "ZS" // we parse Dorado-added `tag_basecaller_ts`, reverse-complement the read sequence accordingly but store original value as `tag_original_ts`

    // Cleavage Site Tagging that will be added during processing
    tag_orig_cs  = "XO"
    tag_fixed_cs = "XF"

    // Tag used for final Cleavage Site quantification and BigWig generation
    tag_quantification_cs = "XF"

    // PolyA Extraction & Tagging Configuration
    min_phred_score       = 0
    tag_phred_mapped      = "ZM"
    tag_phred_softclipped = "ZC"

    // QC flags 
    merge_non_polyA = true // Merge non-polyA reads into a single BAM for inspection. For main analysis, only polyA alignments are used.
    merge_skipped_pt = true // Merge reads that were skipped due to missing or invalid polyA tail (pt) information
}

// "workDir" is recognized by Nextflow
workDir = "${params.workdir_param}"

// -------------------------------------------------------------------------------------
//  PROFILES (Enable Conda execution securely)
// -------------------------------------------------------------------------------------
profiles {
    conda {
        conda.enabled = true
        // Environments will be built inside a dedicated folder within the run dir
        conda.cacheDir = "${params.conda_envs_dir}"
    }
}

// -------------------------------------------------------------------------------------
//  PROCESS RESOURCES & LABELS
// -------------------------------------------------------------------------------------
process {
    executor = 'slurm'
    
    // Base defaults
    cpus   = 1
    memory = '4 GB'
    time   = '20m'

    // Error handling for Out-Of-Memory (OOM) codes
    errorStrategy = { task.exitStatus in [137, 104, 140] ? 'retry' : 'terminate' }
    maxRetries    = 2

    // --- 1. Compute Labels ---
    withLabel: process_single {
        cpus   = 1
        memory = '4 GB'
        time   = '20m'
    }
    
    withLabel: process_low {
        cpus   = 1
        memory = '8 GB'
        time   = '30m'
        clusterOptions = '--qos=30min'
    }

    withLabel: process_medium {
        cpus   = 8
        memory = '32 GB'
        time   = '2h'
        clusterOptions = '--qos=6hours'
    }

    withLabel: process_medium_low_cpu {
        cpus   = 1
        memory = '32 GB'
        time   = '6h'
        clusterOptions = '--qos=6hours'
    }

    withLabel: process_high_memory_low_cpu {
        cpus   = 2
        memory = '128 GB'
        time   = '6h'
        clusterOptions = '--qos=6hours'
    }

    withLabel: process_dynamic_memory {
        cpus   = 2
        memory = { 32.GB * task.attempt } 
        time   = { 2.h * task.attempt }
    }

    withLabel: process_gpu {
        cpus           = 2
        memory         = '40 GB'
        time           = '2h'
        clusterOptions = '--gres=gpu:1 --qos=h200-6hours --partition=h200'
    }

    // --- 2. Tool Environment Labels ---
    withLabel: env_samtools {
        conda = "${projectDir}/envs/samtools.yml"
    }
    withLabel: env_umi_tools {
        conda = "${projectDir}/envs/umi_tools.yml"
    }
    withLabel: env_bam_processing_with_python {
        conda = "${projectDir}/envs/processing_bam_with_python.yml"
    }
    withLabel: env_isoform {
        conda = "${projectDir}/envs/python_isoform.yml"
    }
    withLabel: env_pod5 {
        conda = "${projectDir}/envs/python_pod5.yml"
    }
    withLabel: env_plot {
        conda = "${projectDir}/envs/python_plot.yml"
    }
}